.navigation-bar {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: row;
    width: 100%;
    max-width: 90%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .navigation-bar {
        flex-direction: column;
    }

}

.navigator-link {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.navigator-link:hover {
    color: white;
    background-color: #009688;
}