.tile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.tile > img {
    height: 100%;
    width: 100px;
    min-width: 100px;
    border: 1px solid #aaaaaa;
}

.tile-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.tile-content > a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.tile-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


