.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.logo-header {
    padding: 20px;
    width: 255px;
}

.logo-header > img {
    width: 180px;
}

.header-title {
    display: block;
    color: black;
    font-size: 35px;
    font-weight: normal;
    padding: 20px 0;
    text-align: left;
    font-family: 'Francois One', Georgia, "Times New Roman", Times, serif;       
}

.header-divider {
    border-bottom: 20px solid #77773c;
}